<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= room.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= room.bathrooms %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= room.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

</div>
